html, body{
    scroll-behavior:smooth;
    overflow-x: hidden;
    width:100%;
    height:100%;
    font-family: 'Poppins', sans-serif;
}

.main-login{
    width: 100%;
    height : 100%;
    overflow-y: hidden;
}

.not-shown{
	display: none !important;
    transition: ease-in-out;
}


.loader {
    height: 80px;
    width: 80px;
    background-color: #6901D2;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
        background-color: #6901D2;
        border-radius: 100%;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: auto;
    }
    50% {
        background-color: #EE317A;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: auto;
    }
    100% {
        transform: scale(1.5);
        background-color: #FFB42F;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: auto;
    }
}

.loading{
    display : inline-block !important;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bolder;
    color:black;
    left: 50% !important;
    top: 50% !important;
    /* margin : auto !important; */
    transform: translate(-50%, -50%) !important;
    align-items: center;
    align-content: center;
    text-align: center;
    margin:auto;
}

.btn{
    color : white;
    font-family: 'Poppins', sans-serif;
}

.title-1{
    color : black;
    font-family: 'Poppins', sans-serif;
    align-content: left;
    align-items: left;
    text-align: left;
    font-size: 4rem;
}

.title-2{
    color : black;
    font-family: 'Poppins', sans-serif;
    align-content: left;
    align-items: left;
    text-align: left;
    font-size: 1.5rem;
}


#tagline{
    color : #7B91B7;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bolder;
    text-align: left;
    align-content: left;
    align-items: left;
}

#result{
    color: #EE317A;
    font-size: x-large;
}

#question{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.option, .res{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

.title-q{
    color : black;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.box{
    width : 40%;
    height:auto; 
    max-height:70%; 
    margin:auto;
    align-content: left;
    align-items: center;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    position: absolute;
    left: 35%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 2%;
    /* box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1); */
}

.quiz-container{
    overflow-y: hidden;
    width : 60%;
    height:auto; 
    max-height:70%; 
    margin:auto;
    align-content: left;
    align-items: left;
    text-align: left;
    display: inline-block;
    /* background-color: white; */
    border-radius: 25px;
    position: absolute;
    left: 55%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 2%; 
    /* box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1); */
}

.container{
    background-color: #ffffff;
    padding: 5% 2% 2% 5%; 
}

.kuning{
    color: #FFB42F;
}

.finish-container{
    width : 60%;
    height:auto; 
    max-height:70%; 
    margin:auto;
    align-content: left;
    align-items: left;
    text-align: left;
    display: inline-block;
    /* background-color: white; */
    border-radius: 25px;
    position: absolute;
    left: 73%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 2%;
    font-size: xx-large;
}

.test{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #111111;
}

.titik{
    color: #FFB42F;
}

.putih{
    color: #ffffff;
}

a, a:hover, a:focus, a:active {
    font-family: 'Poppins', sans-serif;
    color: #111111 !important;
    text-decoration: inherit !important;
}

.logo{
    align-content: left;
    align-items: left;
    text-align: left;
    display: inline-block;
    position: absolute;
    top:2%;
    left:2%;
}

.logo-right{
    align-content: left;
    align-items: left;
    text-align: left;
    display: inline-block;
    position: absolute;
    top:2%;
    right:2%;
}

img{
    width: 15%;
    height: auto;
}

.by{
    align-content: right;
    align-items: right;
    text-align: right;
    display: inline-block;
    position: absolute;
    bottom:2%;
    right:2%;
    font-size: large;
    font-weight: 1500 !important;
    font-family: 'Poppins', sans-serif;
    /* height:auto; */
    /* max-height:70%;  */
    /* margin-top: auto;
    margin-right:0;
    margin-left: auto; */
    /*left: 85%;
    top: 80%; */
    /* transform: translate(-50%, -50%);
    padding: 2%; */
}

.rs-zone{
    overflow-y: auto;
    width : 50%;
    height:auto; 
    max-height:70%; 
    margin:auto;
    align-content: left;
    align-items: left;
    text-align: left;
    display: inline-block;
    /* background-color: white; */
    border-radius: 25px;
    position: absolute;
    left: 55%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 2%;
}

.updButton{
    background-color: #7FDD99;
}

.delButton{
    background-color: red;
}

.btn{
    background-color:  #FFB42F;
    color : white !important;
    border-radius: 13px;
    border: 0px;
    border-radius: 23px !important;
}

.btn-log{
    background-color: #FFB42F !important;
    border: 0px !important;
    margin-bottom : 2%;
}

.btn-next{
    background-color: #FFB42F !important;
    color : white !important;
    border: 0px !important;
    margin-bottom : 2%;
}

.btn-previous{
    background-color:#e7e7e7 !important;
    color:black !important;
    border: 4px !important;
    margin-bottom : 2%;
}

.btn-role{
    background-color: #FFB42F !important;
    border: 0px !important;
    color : black !important;
}

.controls{
    padding-left: 2%;
}

.check{
    padding-left: 2%;
}

.container-search{
    overflow-y: hidden;
    width : 50%;
    height:auto; 
    max-height:70%; 
    margin:auto;
    align-content: left;
    align-items: left;
    text-align: left;
    display: inline-block;
    /* background-color: white; */
    border-radius: 25px;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px;
    overflow-y:scroll;
  }
  
#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
