<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content_block %}

<div class='main-login' style="background-image: url('../static/img/makasih.svg');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="logo">
        <a href="/">
            <img src="../static/img/logo.svg">
            Illustrator
        </a>
        <!-- <a>
            Illustrator
        </a> -->
    </div>
    <div class="finish-container">
        <div class="finish">
            <div class="row finish-message">
                stay
            </div>
            <div class="row finish-message">
                safe
            </div>
            <div class="row finish-message">
                thank you
                <div class="titik">
                    .
                </div>
            </div>
        </div>
    </div>
    <div class="by">
        by <br>
        Adoeh <br>
        <div class="kuning">
            Illustrator.
        </div>
    </div>
</div>


{% endblock content_block %}