<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content_block %}

<div class='main-login' style="background-image: url('../../../static/img/Hospital\ Result.svg');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div id="particles-js">
        <div class="quiz-container container-search">
            <div class="container">
                <div class="title-q">Where do you live?</div>
                <br>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Kecamatan..">
                <br>
                <br>
                <ul id="myUL">
                    <li><a href="CAKUNG">Cakung, Jakarta Timur</a></li>
                    <li><a href="CEMPAKA-PUTIH">Cempaka Putih, Jakarta Pusat</a></li>
                    <li><a href="CENGKARENG">Cengkareng, Jakarta Barat</a></li>
                    <li><a href="CILANDAK">Cilandak, Jakarta, Selatan</a></li>
                    <li><a href="CILINCING">Cilincing, Jakarta Utara</a></li>
                    <li><a href="CIPAYUNG">Cipayung, Jakarta Timur</a></li>
                    <li><a href="CIRACAS">Ciracas, Jakarta Timur</a></li>
                    <li><a href="DUREN-SAWIT">Duren Sawit, Jakarta Timur</a></li>
                    <li><a href="GAMBIR">Gambir, Jakarta Pusat</a></li>
                    <li><a href="GROGOL-PETAMBURAN">Grogol Petamburan, Jakarta Barat</a></li>
                    <li><a href="JAGAKARSA">Jagakarsa, Jakarta Barat</a></li>
                    <li><a href="JATINEGARA">Jatinegara, Jakarta Timur</a></li>
                    <li><a href="JOHAR-BARU">Johar Baru, Jakarta Pusat</a></li>
                    <li><a href="KALI-DERES">Kali Deres, Jakarta Barat</a></li>
                    <li><a href="KEBAYORAN-BARU">Kebayoran Baru, Jakarta Selatan</a></li>
                    <li><a href="KEBAYORAN-LAMA">Kebayoran Lama, Jakarta Selatan</a></li>
                    <li><a href="KEBON-JERUK">Kebon Jeruk, Jakarta Barat</a></li>
                    <li><a href="KELAPA-GADING">Kelapa Gading, Jakarta Utara</a></li>
                    <li><a href="KEMAYORAN">Kemayoran, Jakarta Pusat</a></li>
                    <li><a href="KEMBANGAN">Kembangan, Jakarta Barat</a></li>
                    <li><a href="KEP.-SERIBU-SELATAN">Kep. Seribu Selatan, Kepulauan Seribu</a></li>
                    <li><a href="KEP.-SERIBU-UTARA">Kep. Seribu Utara, Kepulauan Seribu</a></li>
                    <li><a href="KOJA">Koja, Jakarta Utara</a></li>
                    <li><a href="KRAMAT-JATI">Kramat Jati, Jakarta Timur</a></li>
                    <li><a href="MAKASAR">Makasar, Jakarta Timur</a></li>
                    <li><a href="MAMPANG-PRAPATAN">Mampang Prapatan, Jakarta Selatan</a></li>
                    <li><a href="MATRAMAN">Matraman, Jakarta Timur</a></li>
                    <li><a href="MENTENG">Menteng, Jakarta Pusat</a></li>
                    <li><a href="PADEMANGAN">Pademangan, Jakarta Utara</a></li>
                    <li><a href="PALMERAH">Palmerah, Jakarta Barat</a></li>
                    <li><a href="PANCORAN">Pancoran, Jakarta Selatan</a></li>
                    <li><a href="PASAR-REBO">Pasar Rebo, Jakarta Timur</a></li>
                    <li><a href="PENJARINGAN">Penjaringan, Jakarta Utara</a></li>
                    <li><a href="PESANGGRAHAN">Pesanggrahan, Jakarta Selatan</a></li>
                    <li><a href="PULO-GADUNG">Pulo Gadung, Jakarta Timur</a></li>
                    <li><a href="SAWAH-BESARSAWA-BESAR">Sawah Besar, Jakarta Pusat</a></li>
                    <li><a href="SENEN">Senen, Jakarta Pusat</a></li>
                    <li><a href="SETIA-BUDI">Setia Budi, Jakarta Barat</a></li>
                    <li><a href="TAMAN-SARI">Taman Sari, Jakarta Barat</a></li>
                    <li><a href="TAMBORA">Tambora, Jakarta Barat</a></li>
                    <li><a href="TANAH-ABANG">Tanah Abang, Jakarta Pusat</a></li>
                    <li><a href="TAMBORA">Tanjung Priok, Jakata Utara</a></li>
                    <li><a href="TEBET">Tebet, Jakarta Selatan</a></li>
                </ul>
                <br>
                <div id="tagline">#StayAtHome</div>
            </div>
    
            <!-- Buttons -->
            <!-- <div class="controls">
                <button type="button" class="btn btn-success next">Next</button>
            </div> -->
        </div>
        <div class="by">
            by <br>
            Adoeh <br>
            <div class="kuning">
                Illustrator.
            </div>
        </div>
    </div>
</div>
<script src = "../static/particles.js"></script>
<script src = "../static/app-1.js"></script>


{% endblock content_block %}