<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content_block %}

<div class='main-login' style="background-image: url('../static/img/Landing\ Page\ Background.svg');">
    <div id="particles-js">
        <div class = 'box bg-transparet'>
            <div class="container">
                <div class="row">
                    <a class='title-1'>Kok-Vid?</a>
                </div>
                <div class="row">
                    <a class='title-2'>Check the risk of you getting infected by Covid-19!</a>
                    <br>
                </div>
                <div class="row q">
                    <a href="/questions" class="btn btn-log btn-primary btn-lg active" role="button" aria-pressed="true">Check now!</a>
                </div>
            </div>
            <!-- <div class="row"> -->
            <div id="tagline">#StayAtHome</div>
            <!-- </div> -->
        </div>
        <div class="by">
            <div class="putih">
                by <br>
                Adoeh <br>
            </div>
            <div class="kuning">
                Illustrator.
            </div>
        </div>
    </div>
</div>
<script src = "../static/particles.js"></script>
<script src = "../static/app.js"></script>

{% endblock content_block %}