<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content_block %}

<div class='main-login' style="background-image: url('../static/img/Result\ Low.svg');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div id="particles-js">
        <div class="quiz-container">
            <div class="container">
                <div id="tagline">#StayAtHome</div>
                <div class="title-q">Your result</div>
                <br>
                {% block includes %}
                <div class='res'>Based on your symptoms, your risk of infected is : </div>
                <!-- <div class='res' id="loading">Loading...</div> -->
                <!-- <br> -->
                <div class='res' id="result">{{ output }}</div>
                <br>
            </div>
            <div class="check">
                {% if output == "High Risk"%}
                <p>Check the nearest COVID-19 handling hospital!</p>
                <a href="kecamatan/rs/" class="btn btn-log btn-primary btn-lg active" role="button" aria-pressed="true">Check</a>
                {% else %}
                <p>Check if your area is in a COVID-19 zone!</p>
                <a href="kecamatan/" class="btn btn-log btn-primary btn-lg active" role="button" aria-pressed="true">Check</a>
                {% endif %}
                
                <br>
                {% endblock includes %}
            </div>
        </div>
        <div class="by">
            by <br>
            Adoeh <br>
            <div class="kuning">
                Illustrator.
            </div>
        </div>
    </div>
</div>
<script src = "../static/particles.js"></script>
<script src = "../static/app.js"></script>


{% endblock content_block %}