<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content_block %}

<div class='main-login' style="background-image: url('../static/img/Result\ Low.svg');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div id="particles-js">
        <div class="quiz-container">
            <!-- <div class="title-q">COVID Symptoms test</div> -->
            <div class="container">
                <div id="tagline">#StayAtHome</div>
                <div id="question" class="question"></div>
                <br>
                <label class="option">
                    <input type="radio" name="option" value="1"/>
                    <span class="option1"></span>
                </label>
                <br>
                <label class="option">
                    <input type="radio" name="option" value="2" />
                    <span class="option2"></span>
                </label>
                <br>
                <label class="option" id="idOption3">
                    <input type="radio" name="option" value="3" />
                    <span class="option3"></span>
                </label>
                <div id='firstquestion'></div>
                <br>
            </div>
            <!-- Buttons -->
            <div class="controls">
                <button type="button" class="btn btn-next next">Next</button>
            </div>
        </div>
    </div>
</div>
<div class="by">
    by <br>
    Adoeh <br>
    <div class="kuning">
        Illustrator.
    </div>
</div>
<div class="loading">
    <div class='loader not-shown'></div>
    <br><br>
    <a class='loadtext not-shown'>Calculating...</a>
</div>

<script src = "../static/particles.js"></script>
<script src = "../static/app.js"></script>

{% endblock content_block %}