<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content_block %}

<div class='main-login' style="background-image: url('../../../static/img/Hospital\ Result.svg');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div id="particles-js">
        <div class="quiz-container rs-zone">
            <div class="container">
                <div class="title-q">Based on where you live, we find a few hospital nearby</div>
                <br>
                <div class='res' id="result">{{ res }}</div>
                <br>
                <a href="/finish" class="btn btn-log btn-primary btn-lg active" role="button" aria-pressed="true">Finish</a>
                <!-- {{res}} -->
            </div>
        </div>
        <div class="by">
            by <br>
            Adoeh <br>
            <div class="kuning">
                Illustrator.
            </div>
        </div>
    </div>    
</div>
<script src = "../../../static/particles.js"></script>
<script src = "../../../static/app-2.js"></script>


{% endblock content_block %}